:host {
  $details-padding: 1em;

  details {
    font-size: 1rem;
    margin: 1em auto;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    width: 100%;
    background: #fff;
    border-radius: var(--rounded);
    position: relative;

    .summary-title {
      user-select: none;
      font-family: Lato, sans-serif;
    }

    &:hover {
      cursor: pointer;
    }

    .summary-content {
      border-top: 1px solid #e2e8f0;
      cursor: default;
      padding: $details-padding;
      font-weight: 300;
      line-height: 1.5;
    }

    .summary-chevron-up,
    .summary-chevron-down {
      pointer-events: none;
      position: absolute;
      top: 0.75em;
      right: $details-padding;
      background: #fff;

      svg {
        display: block;
      }
    }

    .summary-chevron-up svg {
      opacity: 0.5;
    }

    summary {
      list-style: none;
      padding: $details-padding;

      &:focus {
        outline: none;
      }

      &:hover .summary-chevron-up svg {
        opacity: 1;
      }
    }

    summary::-webkit-details-marker {
      display: none;
    }
  }
}