:host {
  >span {
    font-family: Lato, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: var(--spacing-sm) var(--spacing);
    border-radius: 20px;

    k-icon {
      margin-right: 5px;
    }
  }
}