#reserve-main {
  display: grid;
  grid-template-rows: auto 1fr;
  > k-paper nav {
    display: grid;
    grid-template-columns: repeat(12, auto);
    a.active {
      text-decoration: underline;
    }
  }
}
