@import '../../styles/sizes';

.modal>k-card {
  width: 90vw;
  position: relative;

  @include lg {
    width: 45vw;
  }

  @include xl {
    width: 30vw;
  }

  &>k-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}