@import './../../styles/mixins.scss';
:host {
  fast-select {
    padding: 12px 11px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid var(--don-juan);
    border-radius: var(--rounded);
    width: 100%;
    color: var(--don-juan-300);    

    background: var(--white) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    &:hover{
      border-color: var(--ocean-blue);
    }
    &:active{
      border:2px solid var(--ocean-blue);
    }
    &:focus,
    &:focus-visible,
    &:focus-within {
      border:2px solid var(--ocean-blue);
      outline: 2px solid var(--ocean-blue-200);
    }
    &[open]{
      background: var(--white) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>') no-repeat;
    }
    option{
      color: var(--don-juan);
    }
    &::part(control){
      padding: 0;
      background-color: transparent;
      border-color: transparent;
      border-radius: 0;
      &:empty{
        &::before{
          color: red;
          content: 'test'
        }        
      }
    }
    &::part(indicator){
      display: none;
    }
    &::part(listbox){
      border: 2px solid var(--ocean-blue);
      border-radius: var(--rounded);
      background: var(--white);
      padding:6px 0;
      &::-webkit-scrollbar-thumb {
        background-color: var(--ocean-blue);
        border-radius: 12px;
      }
      @include scrollbars(8px, 12px,  var(--ocean-blue));
    }
  }
  fast-option{
    background-color: var(--white);
    color: var(--don-juan-700);
    border-radius: 0;
    margin:0;
    &:hover{
      background-color: var(--ocean-blue-050);
    }
  }
}
