:host {
  ::slotted([slot='start']) {
    position: absolute;
    background-color: var(--don-juan-025);
    color: var(--don-juan-300);
    padding: 12px;
    border-radius: 8px 0px 0px 8px;
    margin: 1px;
  }
  ::slotted([slot='end']) {
    align-self: center;
    border-radius: 0 2px 2px 0;
  }
  input {
    flex: 1;
    border: 1px solid var(--don-juan);
    background: var(--white);
    border-radius: var(--rounded);
    padding: 12px 16px;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--don-juan-700);
    width: 100%;

    &:hover {
      border-color: var(--ocean-blue);
    }
    &:active {
      border: 2px solid var(--ocean-blue);
    }
    &:focus,
    &:focus-visible,
    &:focus-within {
      border: 2px solid var(--ocean-blue);
      outline: 2px solid var(--ocean-blue-200);
      margin: -1px;
    }
    &:disabled {
      background-color: var(--don-juan-025);
      border: 1px solid var(--don-juan-050);
      color: var(--don-juan-300);
      &:active,
      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 1px solid var(--don-juan-050);
      }
    }
    &[start] {
      padding-left: 66px;
    }
    &[error] {
      color: var(--error);
      border-color: var(--error);
      background-color: var(--error-light);
      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 2px solid var(--error);
        outline: 2px solid var(--error-light);
        margin: -1px;
      }
    }
  }
}
