:root {
  --rounded: 8px;
  --rounded-1: 2px;
  --rounded-2: 5px;
  --rounded-3: 8px;
  --rounded-4: 12px;
  --rounded-5: 15px;
  --rounded-6: 20px;
  --rounded-7: 25px;
  --rounded-circle: 50%;
  --scrollbar-width: 12px;
  --scrollbar-radius: 8px;
  --alpha-sm: 0.2;
  --alpha-md: 0.5;
  --alpha-xl: 0.8;
}