:host {
  >span {
    font-family: Lato, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5px 12px;
    border-radius: 4px;
    align-items:center;
    line-height: 18px;

    k-icon {
      margin-right: 5px;
    }

    &.danger {
      k-icon {
        fill: var(--error);
      }

      color: var(--error);
      background-color: var(--error-light);

      &.border {
        border: 1px solid var(--error);
      }
    }

    &.success {
      k-icon {
        fill: var(--success);
      }

      color: var(--success);
      background-color: var(--success-light);

      &.border {
        border: 1px solid var(--success);
      }
    }

    &.warning {
      k-icon {
        fill: var(--warning);
      }

      color: var(--warning);
      background-color: var(--warning-light);

      &.border {
        border: 1px solid var(--warning);
      }
    }

    &.info {
      k-icon {
        fill: var(--info);
      }

      color: var(--info);
      background-color: var(--info-light);

      &.border {
        border: 1px solid var(--info);
      }
    }

    &.primary {
      k-icon {
        fill: var(--ocean-blue-700);
      }

      color: var(--ocean-blue-700);
      background-color: var(--primary-light);

      &.border {
        border: 1px solid var(--ocean-blue-700);
      }
    }

    &.secondary {
      k-icon {
        fill: var(--dark-coral-700);
      }

      color: var(--dark-coral-700);
      background-color: var(--secondary-light);

      &.border {
        border: 1px solid var(--dark-coral-700);
      }
    }

    &.dark {
      k-icon {
        fill: var(--dark);
      }

      color: var(--dark);
      background-color: var(--dark-light);

      &.border {
        border: 1px solid var(--dark);
      }
    }
  }
}