@import '../../../design-system/styles/sizes';

header {
  padding: 18px 40px;
  z-index: 2;

  k-button::part(icon) {
    transform: translateX(0);
  }

  @include xl {
    k-app-bar>k-icon-button {
      display: none;
    }
  }

  @include sm-max {
    k-app-bar .network-feedback {
      display: none;
    }
  }
}