@import '../../../../design-system/styles/sizes';

header {
  padding: 20px 18px;




  k-stack {
    padding-right: var(--spacing);
    padding-top: var(--spacing-small);
  }

  @include xl {
    k-app-bar>k-icon-button {
      display: none;
    }
  }
}