@keyframes slide-in-end {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes slide-in-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-in-start {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 113px;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(1080deg);
        stroke-dashoffset: (0.3 * 113px);
    }

    100% {
        transform: rotate(0deg);
        stroke-dashoffset: (0.3 * 113px);
    }
}

.fade-in {
    animation: fade-in 1s;
}

.fade-out {
    animation: fade-in 1s reverse;
}

.slide-in-start {
    animation: slide-in-start 1s;
}

.slide-out-start {
    animation: slide-in-start 1s reverse;
}

.slide-in-end {
    animation: slide-in-end 1s;
}

.slide-out-end {
    animation: slide-in-end 1s reverse;
}

.slide-in-top {
    animation: slide-in-top 1s;
}

.slide-out-top {
    animation: slide-in-top 1s reverse;
}

.slide-in-bottom {
    animation: slide-in-bottom 1s;
}

.slide-out-bottom {
    animation: slide-in-bottom 1s reverse;
}