@mixin defineColorRGB($color-name, $value) {
  $red: red($value);
  $green: green($value);
  $blue: blue($value);
  #{$color-name}: unquote('rgb(#{$red}, #{$green}, #{$blue})');
  #{$color-name}-rgb: $red, $green, $blue;
  #{$color-name}-r: $red;
  #{$color-name}-g: $green;
  #{$color-name}-b: $blue;
}

:root {
  //Base Colors from Figma
  @include defineColorRGB(--cheese, rgb(255, 191, 134));
  @include defineColorRGB(--sandy-brown, rgb(245, 161, 74));
  @include defineColorRGB(--terra-cotta, rgb(240, 124, 75));
  @include defineColorRGB(--dark-coral, rgb(213, 92, 56));
  @include defineColorRGB(--don-juan, rgb(92, 76, 76));
  @include defineColorRGB(--breaker-bay, rgb(48, 117, 130));

  @include defineColorRGB(--ocean-blue, rgb(42, 166, 161));
  @include defineColorRGB(--green-apple, rgb(104, 219, 136));
  @include defineColorRGB(--ice-cold, rgb(142, 240, 205));
  @include defineColorRGB(--tranquil, rgb(225, 237, 231));
  @include defineColorRGB(--concrete, rgb(243, 241, 241));
  @include defineColorRGB(--white, rgb(255, 255, 255));

  //Tints/Shades for specific brand colors
  @include defineColorRGB(--ocean-blue-025, rgb(244, 250, 250));
  @include defineColorRGB(--ocean-blue-050, rgb(234, 246, 246));
  @include defineColorRGB(--ocean-blue-100, rgb(212, 237, 236));
  @include defineColorRGB(--ocean-blue-200, rgb(170, 219, 217));
  @include defineColorRGB(--ocean-blue-300, rgb(127, 202, 199));
  @include defineColorRGB(--ocean-blue-400, rgb(85, 184, 180));
  // @include defineColorRGB(--ocean-blue-500, rgb(var(--ocean-blue-rgb)));
  @include defineColorRGB(--ocean-blue-600, rgb(34, 133, 129));
  @include defineColorRGB(--ocean-blue-700, rgb(25, 100, 97));
  @include defineColorRGB(--ocean-blue-800, rgb(17, 66, 64));
  @include defineColorRGB(--ocean-blue-900, rgb(8, 33, 32));

  @include defineColorRGB(--dark-coral-025, rgb(253, 248, 246));
  @include defineColorRGB(--dark-coral-050, rgb(251, 239, 235));
  @include defineColorRGB(--dark-coral-100, rgb(247, 222, 215));
  @include defineColorRGB(--dark-coral-200, rgb(238, 190, 175));
  @include defineColorRGB(--dark-coral-300, rgb(230, 157, 136));
  @include defineColorRGB(--dark-coral-400, rgb(221, 125, 96));
  // @include defineColorRGB(--dark-coral-500, rgb(var(--dark-coral-rgb)));
  @include defineColorRGB(--dark-coral-600, rgb(170, 74, 45));
  @include defineColorRGB(--dark-coral-700, rgb(128, 55, 34));
  @include defineColorRGB(--dark-coral-800, rgb(85, 37, 22));
  @include defineColorRGB(--dark-coral-900, rgb(43, 18, 11));

  @include defineColorRGB(--don-juan-025, rgb(246, 244, 244));
  @include defineColorRGB(--don-juan-050, rgb(239, 237, 237));
  @include defineColorRGB(--don-juan-100, rgb(222, 219, 219));
  @include defineColorRGB(--don-juan-200, rgb(190, 183, 183));
  @include defineColorRGB(--don-juan-300, rgb(157, 148, 148));
  @include defineColorRGB(--don-juan-400, rgb(125, 112, 112));
  @include defineColorRGB(--don-juan-500, rgb(92, 76, 76));
  @include defineColorRGB(--don-juan-600, rgb(74, 61, 61));
  @include defineColorRGB(--don-juan-700, rgb(55, 46, 46));
  @include defineColorRGB(--don-juan-800, rgb(37, 30, 30));
  @include defineColorRGB(--don-juan-900, rgb(18, 15, 15));

  @include defineColorRGB(--san-juan-025, rgb(244, 245, 245));
  @include defineColorRGB(--san-juan-050, rgb(237, 238, 239));
  @include defineColorRGB(--san-juan-100, rgb(219, 221, 222));
  @include defineColorRGB(--san-juan-200, rgb(183, 188, 190));
  @include defineColorRGB(--san-juan-300, rgb(148, 154, 157));
  @include defineColorRGB(--san-juan-400, rgb(112, 121, 125));
  @include defineColorRGB(--san-juan-500, rgb(76, 87, 92));
  @include defineColorRGB(--san-juan-600, rgb(61, 70, 74));
  @include defineColorRGB(--san-juan-700, rgb(46, 52, 55));
  @include defineColorRGB(--san-juan-800, rgb(30, 35, 37));
  @include defineColorRGB(--san-juan-900, rgb(15, 17, 18));

  //Utitliy Colors

  @include defineColorRGB(--success, rgb(0, 160, 76));
  @include defineColorRGB(--success-light, rgb(235, 250, 238));
  @include defineColorRGB(--success-dark, rgb(0, 107, 51));
  @include defineColorRGB(--error, rgb(220, 77, 77));
  @include defineColorRGB(--error-light, rgb(255, 239, 239));
  @include defineColorRGB(--error-dark, rgb(140, 52, 52));
  @include defineColorRGB(--warning, rgb(219, 123, 10));
  @include defineColorRGB(--warning-light, rgb(254, 248, 237));
  @include defineColorRGB(--warning-dark, rgb(180, 99, 3));
  @include defineColorRGB(--info, rgb(63, 143, 218));
  @include defineColorRGB(--info-light, rgb(229, 239, 249));
  @include defineColorRGB(--info-dark, rgb(30, 91, 148));
  // @include defineColorRGB(--primary, var(--ocean-blue-rgb));
  // @include defineColorRGB(--primary-text, var(--don-juan-900-rgb));
}
