@import './reset.scss';

*[full-width] {
  width: 100%;
}

//extended classes used throughout the dapp
.header-text {
  font-family: var(--header-font);
  font-weight: 700;
}

.circle {
  border-radius: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--text-xl);
  margin-bottom: var(--text-xl);
}
