:root {
  --spacing-xs: 3px;
  --spacing-sm: 5px;
  --spacing: 10px;
  --spacing-lg: 15px;
  --spacing-xl: 25px;
  --spacing-xxl: 50px;
  --text-xs: 0.3rem;
  --text-sm: 0.5rem;
  --text: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-xxl: 5rem;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: ($screen + 'px')) {
    @content;
  }
}

// Small devices
@mixin sm-max {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md-max {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg-max {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl-max {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd-max($screen) {
  @media (max-width: ($screen + 'px')) {
    @content;
  }
}