@import '../../styles/shared';

:host {
  font-family: Lato, sans-serif;
  display: contents;

  .right {
    text-align: right;
  }

  *[type='small'] {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1%;
  }

  *[type='caption'] {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2%;
    color: var(--don-juan-600);
  }

  *[type='small-caption'] {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--don-juan-400);
    letter-spacing: 3%;
  }

  *[type='overline'] {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5%;
    text-transform: uppercase;
  }
  
  *[type='statistic-lg'] {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
  }

  *[type='statistic'] {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
  }

  *[type='statistic-sm'] {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }

  label,
  *[type='label'] {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--primary-text);
  }

  h1,
  *[type='h1'] {
    @extend %header-text;

    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1%;
  }

  h2,
  *[type='h2'] {
    @extend %header-text;

    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.5%;
  }

  h3,
  *[type='h3'] {
    @extend %header-text;

    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
  }

  h4,
  *[type='h4'] {
    @extend %header-text;

    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }

  h5,
  *[type='h5'] {
    @extend %header-text;

    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  h6,
  *[type='h6'] {
    @extend %header-text;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}