.avatar-text{
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
    
    k-text::part(content){
        overflow: hidden;
        text-overflow:ellipsis;        
        white-space: nowrap;
    }
}