:host {
  footer {
    padding-top: 30px;
    padding-bottom: 80px;
    border-bottom-width: 4px;
    background-image: url(https://assets.website-files.com/5fcaa3a6fcb269f7778d1f87/60a962555cd420d95853a054_patter%20background%20kolektivo.png);
    background-position: 0 0;
    background-size: auto;
  }
}
