:host {
  display: grid;
  place-content: center;
  padding: 3px;

  svg{
    overflow: visible;
    
    circle{
      stroke-dasharray: 113px;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      fill: none;
    }
  }
}