:host {
  --details-padding: 1em;
  --border-top: 1px solid #e2e8f0;
  --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%) 0 10px 10px -5px rgb(0 0 0 / 4%);
  --details-margin: 1em auto;
  --background: var(--don-juan-050);

  details {
    font-size: 1rem;
    margin: var(--details-margin);
    box-shadow: var(--box-shaadow);
    width: 100%;
    background: var(--background);
    border-radius: var(--rounded);
    position: relative;

    .summary-title {
      user-select: none;
      font-family: Lato, sans-serif;
    }

    &:hover {
      cursor: pointer;
    }

    .summary-content {
      border-top: var(--border-top);
      cursor: default;
      padding: var(--details-padding);
      font-weight: 300;
      line-height: 1.5;
    }

    .summary-chevron-up,
    .summary-chevron-down {
      pointer-events: none;
      right: var(--details-padding);
      background: var(--background);

      svg {
        display: block;
      }
    }

    .summary-chevron-up svg {
      opacity: 0.5;
    }

    summary {
      list-style: none;
      padding: var(--details-padding);
      display: grid;
      grid-template-columns: 1fr auto;
      gap:10px;

      &:focus {
        outline: none;
      }

      &:hover .summary-chevron-up svg {
        opacity: 1;
      }
    }

    summary::-webkit-details-marker {
      display: none;
    }
  }
}