#storybook {
  k-code {
    display: grid;
    margin-bottom: 10px;
    justify-items: start;
    align-items: center;
    grid-column-gap: 20px;
  }
  .checkboxes k-code {
    grid-template-columns: minmax(550px, 25%) 1fr;
  }
  .buttons k-code {
    grid-template-columns: minmax(150px, 25%) 1fr;
  }
  .selects k-code {
    grid-template-columns: minmax(150px, 25%) 1fr;
  }
  .inputs k-code {
    grid-template-columns: minmax(150px, 35%) 1fr;
  }
  .typography k-code {
    grid-template-columns: minmax(375px, 35%) 1fr;
  }
}
