:host {
  display: block;
  padding: var(--spacing-xxl);

  >k-stack {
    >slot[name='instruction-text'],
    >slot[name='additional-text'],
    >slot:last-of-type {
      grid-column: 1 / 2;
    }

    >k-stack::part(main) {
      justify-content: space-between;
    }
  }
}