@import '../../../shared';

#account-menu {
    &::part(title){
        margin-bottom: 0;
    }

    hr{
        border:0;
        height: 1px;
        background-color:  var(--don-juan-050);
        margin: 12px -16px 8px;
    }

    k-paper {
        @extend %callout;

    }
}
