:host {
  width: fit-content;
  display: inline-block;
  button {
    border: 0;
    color: var(--white);
    background-color: var(--ocean-blue);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato';
    line-height: 24px;
    letter-spacing: 0.005em;
    align-items: center;
    border-radius: var(--rounded);
    cursor: pointer;
    width: 100%;

    &.xs,
    &.sm {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
      padding: 4px 8px;
    }
    &.sm {
      padding: 8px 12px;
    }
    &.lg {
      padding: 12px 24px;
    }
    &.xl {
      font-size: 20px;
      line-height: 24px;
      padding: 16px 24px;
    }
    //primary colors
    &:hover {
      background-color: var(--ocean-blue-600);
    }
    &:active {
      background-color: var(--ocean-blue-700);
    }
    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: 2px solid var(--ocean-blue-300);
    }
    &:disabled {
      background-color: var(--don-juan-200);
      cursor: inherit;
    }
    //secondary colors
    &.secondary {
      &:hover {
        background-color: var(--dark-coral-600);
      }
      &:active {
        background-color: var(--dark-coral-700);
      }
      &:focus,
      &:focus-visible,
      &:focus-within {
        outline: 2px solid var(--dark-coral-300);
      }
      background-color: var(--dark-coral);
      &:disabled {
        background-color: var(--don-juan-200);
        border-color: var(--don-juan-200);
        color: var(--white);
        cursor: inherit;
      }
    }
    &.outlined {
      color: var(--ocean-blue);
      border: 1px solid var(--ocean-blue);
      background-color: var(--white);
      &:hover {
        background-color: var(--ocean-blue-600);
        color: var(--white);
      }
      &:active {
        background-color: var(--ocean-blue-700);
        color: var(--white);
      }
      &.secondary {
        color: var(--dark-coral);
        border: 1px solid var(--dark-coral);
        &:hover {
          background-color: var(--dark-coral-600);
          color: var(--white);
        }
        &:active {
          background-color: var(--dark-coral-700);
          color: var(--white);
        }
      }
      &:disabled {
        border-color: var(--don-juan-200);
        color: var(--don-juan-200);
        cursor: inherit;
        &:hover {
          background-color: inherit;
          border-color: var(--don-juan-200);
          color: var(--don-juan-200);
        }
      }
    }
    &.link {
      border-color: transparent;
      background-color: transparent;
      color: var(--ocean-blue);
      &:hover {
        background-color: var(--ocean-blue-600);
        color: var(--white);
      }
      &:active {
        background-color: var(--ocean-blue-700);
        color: var(--white);
      }
      &.secondary {
        color: var(--dark-coral);
        &:hover {
          background-color: var(--dark-coral-600);
          color: var(--white);
        }
        &:active {
          background-color: var(--dark-coral-700);
          color: var(--white);
        }
      }
      &:disabled {
        border-color: transparent;
        color: var(--don-juan-200);
        cursor: inherit;
        &:hover {
          background-color: inherit;
          border-color: transparent;
          color: var(--don-juan-200);
        }
      }
    }
  }
}
