:host {
  width: 100%;

  >k-grid:first-child {
    border-bottom: 1px solid var(--san-juan-800);
  }

  >k-grid {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
  }

  .right {
    text-align: right;
  }
}