:host {
  > k-text::slotted(label) {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  input {
    margin: 0;
    -webkit-appearance: none;
    background-color: var(--white);
    border: 2px solid var(--don-juan);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    &:hover {
      border-color: var(--ocean-blue);
    }
    &:active {
      border-color: var(--ocean-blue-800);
    }
    &:checked:hover {
      border-color: var(--ocean-blue-600);
      background-color: var(--ocean-blue-600);
    }
    &:checked:active {
      border-color: var(--ocean-blue-800);
      background-color: var(--ocean-blue-800);
    }
    &:focus,
    &:focus-visible {
      border-color: var(--ocean-blue);
      box-shadow: 0px 0px 0px 3px rgba(69, 173, 168, 0.4);
    }
    &:checked {
      background-color: var(--ocean-blue);
      border-color: var(--ocean-blue);
      color: var(--white);
    }
    &:checked:after {
      font-family: 'FontAwesome';
      font-weight: 400;
      content: '\f00c';
      font-size: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      color: var(--white);
    }
    &:disabled {
      border-color: var(--don-juan-050);
      background-color: var(--white);
    }
    &:disabled:checked {
      border-color: var(--don-juan-050);
      background-color: var(--don-juan-050);
    }
  }
}
