@import '../design-system/styles/mixins.scss';
@font-face {
  font-family: 'Kaleko';
  src: url('../static/Kaleko105Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Kaleko';
  src: url('../static/Kaleko105Heavy.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'Kaleko';
  src: url('../static/Kaleko105Light.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Kaleko';
  src: url('../static/Kaleko105Thin.ttf') format('truetype');
  font-weight: lighter;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--concrete);
  color: var(--san-juan-800);
  font-family: var(--font);
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  @include scrollbars(8px, 12px, var(--ocean-blue));
}

.app {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  height: 100%;
  gap: 10px;
  main {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}
