@import './design-system/styles/mixins';
@import './design-system/styles/sizes';

@font-face {
  font-family: Kaleko;
  src: url('../static/Kaleko105-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: 'block';
}

@font-face {
  font-family: Kaleko;
  src: url('../static/Kaleko105-Heavy.woff2') format('woff2');
  font-weight: bolder;
  font-display: 'block';
}

@font-face {
  font-family: Kaleko;
  src: url('../static/Kaleko105-Light.woff2') format('woff2');
  font-weight: normal;
  font-display: 'block';
}

@font-face {
  font-family: Kaleko;
  src: url('../static/Kaleko105-Thin.woff2') format('woff2');
  font-weight: lighter;
  font-display: 'block';
}

html {
  overflow-y: overlay;
}

body {
  height: 100vh;
  background-color: var(--san-juan-600);
  color: var(--san-juan-800);
  font-family: var(--font);
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  @include scrollbars(8px, 12px, var(--primary));
}

.scrollbar {
  @include scrollbars(8px, 12px, var(--primary));
}

.app {
  height: 100%;

  main {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}

au-viewport {
  height: 100%;
}

@include xl {
  main {
    margin-left: 240px;
  }
}