body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  a {
    color: var(--dark);
  }

  pre {
    display: block;
    width: 100%;
  }

  code {
    background-color: var(--san-juan-800);
    color: var(--dark-light);
    font-family: monospace;
    display: block;
    font-size: 14px;
    position: relative;
    padding: 15px 40px 15px 15px;

    k-icon {
      fill: var(--white);
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
    }
  }
}

%callout {
  background-color: var(--don-juan-025);
  border: 1px solid var(--don-juan-050);
  border-radius: var(--rounded);
  padding: 16px;
  margin-top: 8px;
}