:host {
  cursor: pointer;
  > div {
    display: grid;
    place-items: center;
    position: relative;
  }
  svg {
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: none;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
}
