inner-nav {
  k-app-bar::part(grid) {
    margin-left: -70px;
    border-bottom: 1px solid var(--don-juan-025);
    padding-left: 70px;
    padding-right: 70px;
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  k-tabs::part(tabs) {
    display: block;
    max-width: 1200px;
  }

  k-tab {
    margin-bottom: -1px;

    border-bottom: initial;

    &::part(content) {
      color: var(--san-juan-300);
    }

    &.route-active {
      border-bottom: 5px var(--primary) solid;

      &::part(content) {
        color: var(--primary);
      }
    }

    &:hover::part(content) {
      color: var(--don-juan-500);
    }
  }
}