:host {
  display: inline-block;
  
  k-button::part(button) {
    padding: 10px 16px;
  }
  
  k-button::part(xs) {
    padding: 6px 8px;
  }

  k-button::part(sm) {
    padding: 8px 12px;
  }

  k-button::part(lg) {
    padding: 10px 20px;
  }

  k-button::part(xl) {
    padding: 12px 24px;
  }

  k-icon{
    margin-left: 0;
  }
}