:host {
  width: fit-content;
  display: inline-block;

  &.xs {
    k-button::part(button) {
      padding: 6px 8px;
    }
  }

  &.sm {
    k-button::part(button) {
      padding: 8px 12px;
    }
  }

  k-button::part(button) {
    padding: 10px 16px;
  }

  &.lg {
    k-button::part(button) {
      padding: 10px 20px;
    }
  }

  &.xl {
    k-button::part(button) {
      padding: 12px 24px;
    }
  }

}